@import "leaflet/dist/leaflet.css";
@import "leaflet-control-geocoder/dist/Control.Geocoder.css";
html, body {
  height: 100%;
  margin: 0;
}
#map {
  height: 400px;
  width: 100%;
  z-index: 1;
}
.leaflet-container {
  height: 400px;
  width: 100%;
}
