body {
  font-family: 'Inter', sans-serif;
}

/* Optionnel : effet léger sur le texte principal */
h1 {
  letter-spacing: 2px;
  transform: rotate(-5deg);
}
h1 span {
  display: block;
  transform: rotate(6deg);
}
