<section class="bg-[#132D72] text-white rounded-2xl mx-auto mt-8 w-11/12 flex flex-col items-center justify-center relative overflow-hidden pb-10 pt-16">

  <h1 class="text-white text-6xl md:text-8xl font-extrabold text-center leading-tight mb-6 transform -rotate-6 tracking-wide">
    GET ANYTHING <br />
    <span class="block rotate-3">DONE</span>
  </h1>

  <p class="text-center text-lg md:text-xl mb-8 font-medium">
    Post any task. Pick the best person. Get it done.
  </p>

  <div class="flex flex-col md:flex-row items-center gap-4">
    <button
      class="bg-[#2878F0] hover:bg-[#1f63c2] text-white font-semibold px-8 py-3 rounded-full flex items-center gap-2 transition"
    routerLink="/post/step1">
      Start posting Tasks
      <span class="text-xl">→</span>
    </button>

    <button
      class="bg-white text-[#2878F0] font-semibold px-8 py-3 rounded-full flex items-center gap-2 transition hover:bg-gray-100">
      Find Tasks
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
           stroke-width="2" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m21 21-4.35-4.35M11 19a8 8 0 1 1 0-16 8 8 0 0 1 0 16z" />
      </svg>
    </button>
  </div>

  <img
    src="illustration/left-character.png"
    alt="character left"
    class="absolute bottom-0 left-4 w-36 md:w-48"
  />

  <img
    src="illustration/right-character.png"
    alt="character right"
    class="absolute top-0 right-10 w-40 md:w-60 z-10"
  />

  <img
    src="illustration/bubbles.png"
    alt="bubbles decoration"
    class="absolute bottom-6 right-6 w-24 md:w-40 opacity-90 z-0 -rotate-45 "
  />

</section>
